@page
@model SportCentre.Pages.AttivitaSportive.AttivitaIndexMasterDetail2Model

@{
    ViewData["Title"] = "Attività del centro sportivo";
}

<h1>Attività dei centri sportivi</h1>
<hr />
<form asp-page="" method="get">


    



    <table id="sportcentresTable" class="table">
        <thead>
            <tr>
                <th><label>Centro Sportivo</label></th>
                <th>@Html.DisplayNameFor(modelItem => Model.sportcentres[0].Address)  </th>
                <th>@Html.DisplayNameFor(modelItem => Model.sportcentres[0].Location)  </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var sportcentre in Model.sportcentres)
            {
                <tr>
                    <td style="background-color:lightcyan;font:bold;color:red">@Html.DisplayFor(modelItem => sportcentre.Name)</td>
                    <td style="background-color:lightcyan">@Html.DisplayFor(modelItem => sportcentre.Address)                   </td>
                    <td style="background-color:lightcyan">@Html.DisplayFor(modelItem => sportcentre.Location)                  </td>
                    <td style="background-color:lightblue"  class="details-control">Vedi Attività                                    </td>
                </tr>


            }

        </tbody>
    </table>

    <hr />

    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr><label style="font:italic">Filtra per :</label></tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.sportcentres[0].sportCentreAttivita[0].Attivita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.sportcentres[0].sportCentreAttivita[0].Attivita.Descrizione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.sportcentres[0].sportCentreAttivita[0].Attivita.Orario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.sportcentres[0].sportCentreAttivita[0].Attivita.Posti)
                </th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <div class="form-actions no-color">
                        <p><input type="text" name="searchattivita" asp-for="CurrentFilterAttività" /></p>
                    </div>

                </th>
                <th>
                    <div class="form-actions no-color">
                        <p><input type="text" name="searchdescrizione" asp-for="CurrentFilterDescrizione" /></p>
                    </div>

                </th>
                <th>

                    <div class="form-actions no-color">
                        <p><input type="text" name="searchorario" asp-for="CurrentFilterOrario" /></p>
                    </div>
                </th>
                <th>

                    <div class="form-actions no-color">
                        <p><input type="text" name="searchposti" asp-for="CurrentFilterPosti" /></p>
                    </div>
                </th>
                <th>
                    <div class="form-actions no-color">
                        <p><input type="submit" value="Search" class="btn-primary" /></p>
                    </div>
                </th>
                <th></th>
            </tr>
        </tbody>
    </table>
</form>

<hr />

<p>
    <a asp-page="PrenotazioniUserIndex">Prenotazioni</a>
</p>


@section Scripts {


    <script>

        //gestione click dettaglio

        // Funzione per formattare la child row
        function format(attivitaList) {
            var html = '<table class="table table-sm"><thead><tr><th>Attività</th><th>Descrizione</th><th>Orario</th><th>Posti</th></tr></thead><tbody>';

            attivitaList.forEach(function(a) {
                html += '<tr><td>' + a.name + '</td><td>' + a.descrizione + '</td><td>' + a.orario + '</td><td>' + a.posti + '</td></tr>';
            });
            html += '</tbody></table>';
            return html;
        }

        //_____________________________________________________________________________________________
        //datatable 
        $(document).ready(function () {
            var table = $('#sportcentresTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                pageLength: 5,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/it-IT.json'
                }
            });

            //_____________________________________________________________________________________________
            // Gestione click sulla colonna dettaglio
            $('#sportcentresTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr'); //$(this) è il td su cui si è cliccato.closest('tr') becca tr del td
                var row = table.row(tr); //restituisce oggetto datatable dal <tr>,con api .child,.show,ecc.

                // Chiudi child row se già aperta
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } 
                else 
                {
                    // Carica via AJAX le attività del centro
                    // prende il nome dello sportcentre,usa il testo della prima cella della riga su 
                    // cui si è cliccato , più sicuro di row.data()
                    var sportcentreName = tr.find('td').eq(0).text().trim();

                    // route Razor Pages: pagina + ?handler=GetAttivita
                    var url = '/AttivitaSportive/AttivitaIndexMasterDetail2?handler=GetAttivita&sportcentreName='
                              + encodeURIComponent(sportcentreName);

                    //chiamata ajax,chiama GetAttivita nel pagemodel che restituisce lista attività come json in data
                    $.get(url, function(data) {
                        console.log('sportcentreName:', sportcentreName);
                        console.log('AJAX response:', data);
                        row.child(format(data)).show();
                        tr.addClass('shown');

                    }).fail(function(xhr, status, err) {
                        console.error('AJAX failed', status, err, xhr.responseText);
                    });
                }
            });
            //____onclick_________________________________________________________________________________________
        });
        //____datatable_________________________________________________________________________________________

    </script>
}