@page
@model SportCentre.Pages.AttivitaSportive.AttivitaIndexMasterDetail2Model

@{
    ViewData["Title"] = "Attività del centro sportivo";
}

<h1>Attività dei centri sportivi</h1>
<hr />
<form asp-page="" method="get">


    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    Sport Centre
                    @*  @Html.DisplayNameFor(model => Model.sportcentres[0].Name) *@
                </th>
            </tr>
            <tr>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchsportcentre" asp-for="CurrentFilterSportCentre" />
                        </p>
                    </div>

                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.sportcentres[0].sportCentreAttivita[0].Attivita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.sportcentres[0].sportCentreAttivita[0].Attivita.Descrizione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.sportcentres[0].sportCentreAttivita[0].Attivita.Orario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.sportcentres[0].sportCentreAttivita[0].Attivita.Posti)
                </th>
                <th></th>
            </tr>
            <tr>

                <th>
                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchattivita" asp-for="CurrentFilterAttività" />

                        </p>
                    </div>

                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchdescrizione" asp-for="CurrentFilterDescrizione" />
                        </p>
                    </div>

                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchorario" asp-for="CurrentFilterOrario" />

                        </p>
                    </div>
                </th>
                <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchposti" asp-for="CurrentFilterPosti" />

                        </p>
                    </div>
                </th>
                <th>
                    <div class="form-actions no-color">
                        <p>
                            <input type="submit" value="Search" class="btn-primary" />
                        </p>
                    </div>
                </th>
                <th></th>
            </tr>
        </tbody>
    </table>



    <table id="sportcentresTable" class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var sportcentre in Model.sportcentres)
            {
                <tr>
                    <td style="background-color:lightcyan">
@*                         <span style="font:bold">
                            @Html.Label("name", sportcentre.Name, new { @style = "color:Red;font-weight:bold" }) 
                        </span> *@
                        @Html.DisplayFor(modelItem => sportcentre.Name)
                    </td>
                    <td style="background-color:lightcyan">@Html.DisplayFor(modelItem => sportcentre.Address)     </td>
                    <td style="background-color:lightcyan">@Html.DisplayFor(modelItem => sportcentre.Location)    </td>
                    <td class="details-control"></td>
                </tr>


            }
            @*  foreach (var sportcentre in Model.sportCentres) *@

        </tbody>
    </table>
</form>


@{
    var prevDisabled = !Model.sportcentres.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.sportcentres.HasNextPage ? "disabled" : "";
}

<a asp-page="./AttivitaIndex"
   asp-route-searchsportcentre="@(Model.CurrentFilterSportCentre)"
   asp-route-searchattivita="@(Model.CurrentFilterAttività)"
   asp-route-searchdescrizione="@(Model.CurrentFilterDescrizione)"
   asp-route-searchorario="@(Model.CurrentFilterOrario)"
   asp-route-searchposti="@(Model.CurrentFilterPosti)"
   asp-route-pageIndex="@(Model.sportcentres.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./AttivitaIndex"
   asp-route-searchsportcentre="@(Model.CurrentFilterSportCentre)"
   asp-route-searchattivita="@(Model.CurrentFilterAttività)"
   asp-route-searchdescrizione="@(Model.CurrentFilterDescrizione)"
   asp-route-searchorario="@(Model.CurrentFilterOrario)"
   asp-route-searchposti="@(Model.CurrentFilterPosti)"
   asp-route-pageIndex="@(Model.sportcentres.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>
<hr />

<p>
    <a asp-page="PrenotazioniUserIndex">Prenotazioni</a>
</p>


@section Scripts {
    <script>
        // Funzione per formattare la child row
        function format(attivitaList) {
            var html = '<table class="table table-sm"><thead><tr><th>Attività</th><th>Descrizione</th><th>Orario</th><th>Posti</th></tr></thead><tbody>';

            attivitaList.forEach(function(a) {
                html += '<tr><td>' + a.name + '</td><td>' + a.descrizione + '</td><td>' + a.orario + '</td><td>' + a.posti + '</td></tr>';
            });
            html += '</tbody></table>';
            return html;
        }

        $(document).ready(function () {
            var table = $('#sportcentresTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                pageLength: 5,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/it-IT.json'
                }
            });

            // Gestione click sulla colonna dettaglio
            $('#sportcentresTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // Chiudi se già aperto
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Carica via AJAX le attività del centro
                    // usa il testo della prima cella, più sicuro di row.data()
                    var sportcentreName = tr.find('td').eq(0).text().trim();

                    // route Razor Pages: pagina + ?handler=GetAttivita
                    var url = '/AttivitaSportive/AttivitaIndexMasterDetail2?handler=GetAttivita&sportcentreName='
                              + encodeURIComponent(sportcentreName);

                    $.get(url, function(data) {
                        console.log('sportcentreName:', sportcentreName);
                        console.log('AJAX response:', data);
                        row.child(format(data)).show();
                        tr.addClass('shown');

                    }).fail(function(xhr, status, err) {
                        console.error('AJAX failed', status, err, xhr.responseText);
                    });
                }
            });
        });
    </script>
}