@page
@model SportCentre.Pages.AttivitaSportive.PrenotazioniIndexModel

@{
    ViewData["Title"] = "Prenotazioni";
}

<h1>Prenotazioni del centro sportivo</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prenotazioni[0].Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenotazioni[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenotazioni[0].Attivita)
            </th>
            <th></th>
        </tr>

        <tr>
            <th>
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input type="date" name="searchdate" asp-for="@Model.CurrentFilterDate" />
                            <input type="submit" value="Search" class="btn-primary" /> |
                        </p>
                    </div>
                </form>
            </th>
            <th>
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchuser" asp-for="@Model.CurrentFilterUser" />
                            <input type="submit" value="Search" class="btn-primary" /> |
                        </p>
                    </div>
                </form>
            </th>
            <th>
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchattivita" asp-for="@Model.CurrentFilterAttivita" />
                            <input type="submit" value="Search" class="btn-primary" /> |
                        </p>
                    </div>
                </form>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Prenotazioni) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attivita.Name)
            </td>
            <td>
                    <a asp-page="./EditPrenotazioni" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./DeletePrenotazione" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
