@page
@model SportCentre.Pages.AttivitaSportive.PrenotazioniIndexModel

@{
    ViewData["Title"] = "Prenotazioni";
}

<h1>Prenotazioni del centro sportivo</h1>

<form asp-page="./AttivitaSportive/DeletePrenotazione" method="get">
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Prenotazioni[0].Data)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Prenotazioni[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenotazioni[0].Attivita)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenotazioni[0].sportCentre)
                </th>
            <th></th>
        </tr>

        <tr>
            <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="date" name="searchdate" asp-for="CurrentFilterDate" />
                        </p>
                    </div>

            </th>
            <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchuser" asp-for="CurrentFilterUser" />
                        </p>
                    </div>

            </th>
            <th>

                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="searchattivita" asp-for="CurrentFilterAttivita" />

                        </p>
                    </div>

                    <div class="form-actions no-color">
                        <p>
                            <input type="hidden" name="sportcentreid" asp-for="sportCentreId" />

                        </p>
                    </div>

            </th>
                <th>
                    <div class="form-actions no-color">
                        <p><input type="submit" value="Search" class="btn-primary" /> 
                        </p>
                    </div>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Prenotazioni) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attivita.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sportCentre.Name)
            </td>
            <td>
                <a asp-page="./EditPrenotazioni" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./DeletePrenotazione" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</form>


@{
    var prevDisabled = !Model.Prenotazioni.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Prenotazioni.HasNextPage ? "disabled" : "";
}

<a asp-page="./PrenotazioniIndex"
   asp-route-pageIndex="@(Model.Prenotazioni.PageIndex - 1)"
   asp-route-sportcentreid="@Model.sportCentreId"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./PrenotazioniIndex"
   asp-route-pageIndex="@(Model.Prenotazioni.PageIndex + 1)" 
   asp-route-sportcentreid="@Model.sportCentreId"
   class="btn btn-primary @nextDisabled">
    Next
</a>
